@include tablet {
    .contenedor-posts {
        @include grid(3, 2rem);
    }
}

.post {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
}